@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide  {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-slide {
  animation: slide 10s linear infinite;
}

